.addInput{
    width:  500px;
    height: 30px;
    padding: 5px 10px;
    border:2px solid black;
    font-size:16px;
    display: flex;
    margin: 20px 0;
}

.searchInput{
    width:  300px;
    height: 20px;
    padding: 14px;
    font-size:14px;
    border-radius: 10px 0 0 10px;
    border: none;
    color: black;
}