.addBtn{
    color: white;
    border:2px solid black;
    background: black;
    padding: 7px;
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.addBtn:hover{
    background: white;
    color: black;
    transition: 0.5s;
    border-radius: 5px;
}

.addBtnMain{
    background: #0F172A;
    appearance: none;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}